<div class="container-list">
 <div class="grid-product">
  <% @articles.each do |article| %>
    <%= link_to article_path(article), class: 'card' do %>
        <% if article.photos.attached? %>
          <%= cl_image_tag article.photos.first.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="card__image" alt="" />
        <% end %>
      <div class="card__overlay">
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
          <img class="card__thumb" src="https://i.imgur.com/7D7I6dI.png" alt="" />
          <div class="card__header-text">
            <h2><%= article.name %></h2>

          </div>
        </div>
        <p><%= article.category %> <strong><%= article.price %></strong> €.</p>
      </div>

    <% end %>
  <% end %>
 </div>
</div>
