
<div class="form-container">
  <h1>Vendre un nouvel article</h1>
  <div class="form-new">
    <%= simple_form_for @article do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :price %>
      <%= f.input :category, collection: Article::CATEGORY %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <div class="btn btn-flat"><%= link_to "CREER", articles_path %><%= f.button :submit, '' %></div>
    <% end %>
  </div>

  <%= link_to "Retour à la liste d'articles", articles_path %>
  <%= link_to "Retour à la page d'accueil", root_path %>
</div>
