
<div class="container-show">
  <%# Grande div qui enveloppe carousel + description : %>
  <div class="d-flex justify-content-between align-items-center">
    <%# Carousel photos %>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-block">
            <% if @article.photos.attached? %>
              <%= cl_image_tag @article.photos.first.key, height: 300, width: 500, crop: :fill %>
            <% else %>
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="d-block w-100" alt="Pas de photos pour cet article" />
            <% end %>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-block">
            <% if @article.photos.attached? %>
              <%= cl_image_tag @article.photos.first.key, height: 300, width: 500, crop: :fill %>
            <% else %>
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="d-block w-100" alt="Pas de photos pour cet article" />
            <% end %>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-block">
            <% if @article.photos.attached? %>
              <%= cl_image_tag @article.photos.first.key, height: 300, width: 500, crop: :fill %>
            <% else %>
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="d-block w-100" alt="Pas de photos pour cet article" />
            <% end %>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </button>
    </div>
    <%# Fin de Carousel photos %>
    <%# Description et prix de l'article ci-dessous : %>
    <div class="details-show">
      <div class="category-show">
        <h1><%= @article.category %></h1>
      </div>
      <div class="article-name-show">
        <h2> <%= @article.name %></h2>
      </div>
      <div class="description-show">
        <p><%= @article.description %></p>
      </div>
      <div class="prix-show">
        <p>
          <strong>Prix:</strong>
          <%= @article.price %> €
        </p>
      </div>
    </div>
    <%#  fin Description et prix de l'article ci-dessous : %>
  </div>
  <div class="link-show">
    <%= link_to 'Retour à la liste des articles', articles_path(@articles), class: "btn btn-gradient" %>
    <%= link_to 'Réserver cet article', root_path(@article), class: "btn btn-gradient" %>
  </div>
</div>
